NODE_ENV=development
SERVICE_NAME=presentation-web
PORT=3010
HOST=0.0.0.0
LOG_LEVEL=info
INGEST_API_URL=http://127.0.0.1:3001
CONTEXT_QUERY_API_URL=http://127.0.0.1:3002
AUDIT_WRITER_URL=http://127.0.0.1:3003
STREAM_PROCESSOR_URL=http://127.0.0.1:3004
